OPEN_API_KEY = "sk-proj-YOUR-OPENAI-API-KEY-HERE"
OPENAI_MODEL = "gpt-4o"
COUNTER_MODEL = "gpt-4o-mini"
LLAMA_API_KEY_1 = "llx-YOUR-LLAMA-API-KEY-1-HERE"
LLAMA_API_KEY_2 = "llx-YOUR-LLAMA-API-KEY-2-HERE"
DEBUG_FILE_MODE = "false"
